html {
  font-size: 18px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Calibri;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
}

.container_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(14, 19, 27, 1);
  color: #f9f9f9;
  width: 480px;
}

.img_wrap {
  width: 160px;
  height: 160px;
}

.img_fr {
  width: 160px;
  height: 160px;
}

.personnel_wrap {
  margin: 0 20px;
}

.unknown {
  color: #ff9900;
}

.blacklist {
  color: #ff0000;
}

.staff {
  color: #33ccff;
}

select {
  font-family: Arial;
  font-size: 0.8rem;
}

.img_icon {
  margin: 0 10px;
}

.container_info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 480px;
}

.container_info_row {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.container_info_col1 {
  flex: 2;
}

.container_info_col2 {
  flex: 1;
}

.container_info_col3 {
  flex: 6;
}
